---
layout: default
title: Navigating the Maze
---

{% include blog-header.html %}

<!-- Paginated posts -->
{% for post in paginator.posts %}
	<section class="wrapper style1 align-left">
		<div class="inner">
			<h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
			<p>{{ post.date | date: "%A, %B %-d, %Y" }}</p>
			{% if post.excerpt contains "<p>" %}
				{{ post.excerpt }}
			{% else %}
				<p>{{ post.excerpt }}</p>
			{% endif %}
		</div>
	</section>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
	<section class="wrapper style1 align-center">
		<div class="inner">
			<ul class="actions">
				{% if paginator.previous_page %}
					<li><a href="{{ paginator.previous_page_path | relative_url }}" class="button icon fa-chevron-left">Prev</a></li>
				{% endif %}

				{% if paginator.next_page %}
					<li><a href="{{ paginator.next_page_path | relative_url }}" class="button icon">Next<i class="fa fa-chevron-right"></i></a></li>
				{% endif %}
			</ul>
		</div>
	</section>
{% endif %}
